<head>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
 </head>
 <body>
   <input type="checkbox" id="check">
   <label for="check">
     <i class="fas fa-bars" id="btn"></i>
     <i class="fas fa-times" id="cancel"></i>
   </label>
   <div class="sidebar">
     <header>Menu</header>
     <a href="manage/dashboard">
       <i class="fas fa-qrcode"></i>
       <span>Dashboard</span>
     </a>
     <a href="manage/teachers">
       <i class="	fas fa-chalkboard-teacher"></i>
       <span>Teachers</span>
     </a>
     <a href="manage/students">
       <i class="fas fa-user"></i>
       <span>Students</span>
     </a>
     <a href="registration">
      <i class="fas fa-key"></i>
      <span>Register</span>
    </a>
    <a href="login">
      <i class="fas fa-sign-in-alt"></i>
      <span>Login</span>
    </a>
     
     <a href="settings">
       <i class="fas fa-sliders-h"></i>
       <span>Settings</span>
     </a>
     <a href="manage/dashboard">
      <i class="fa fa-sign-out"></i>
       <span>Logout</span>
     </a>
   </div>
</body>
   